/*    _____   _   _   _   _____   _   _    _____   __   _        _____   _       _   _____   _   _    _____   _____    */ /*   _____   _____   */
/*   /  ___| | | | | | | /  ___| | | / /  | ____| |  \ | |      /  ___| | |     | | /  ___| | | / /  | ____| |  _  \   */ /*  |  ___| |___  |  */
/*   | |     | |_| | | | | |     | |/ /   | |__   |   \| |      | |     | |     | | | |     | |/ /   | |__   | |_| |   */ /*  | |__     __| |  */
/*   | |     |  _  | | | | |     | |\ \   |  __|  | |\   |      | |     | |     | | | |     | |\ \   |  __|  |  _  /   */ /*  |  __|   |__  |  */ 
/*   | |___  | | | | | | | |___  | | \ \  | |___  | | \  |      | |___  | |___  | | | |___  | | \ \  | |___  | | \ \   */ /*  | |___   ___| |  */
/*   \_____| |_| |_| |_| \_____| |_|  \_\ |_____| |_|  \_|      \_____| |_____| |_| \_____| |_|  \_\ |_____| |_|  \_\  */ /*  |_____| |_____|  */

.logo {
	float: left;
	width: 500px; /* largeur en pixel de ta photo */
	height:250px; /* hauteur en pixel de ta photo */
	margin-right:10px; /* marge en pixel à droite de la photo */
	 
}